*{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: bisque;
    height: 460px;
    margin-bottom: 80px;
}
.heading{
    display: flex;
    justify-content: space-around;
    margin: 0px 100px;
    gap: 20px;
}
.text{
    padding-top: 80px;
}
.first-h{
    font-size: 35px;
}
.first-para{
    font-size: 12px;
    color: gray;
    margin-bottom: 15px;
}
.btn{
    background-color: crimson;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
}
.img{
    padding-top: 18px;
}
.banner{
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: floralwhite;
    margin-bottom: 70px;
    height: 320px;
    gap: 2px;
}
.okk{
    padding-top: 100px;
    padding-left: 80px;
}
.banner-head{
    font-weight: 25px;
}
.done{
    padding-right: 140px;
    padding-top: 40px;
}
.flower{
    text-align: center;
}
.flower-para{
    font-size: 10px;
    color: gray;
    
}
.flower-photo{
    display: flex;
    text-align: center;
    margin: 20px 40px 40px 100px;
    justify-content: space-around;

}


